<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>735</integer>
	<key>capHeight</key>
	<integer>735</integer>
	<key>copyright</key>
	<string>Copyright (c) 2012 by The League of Moveable Type</string>
	<key>descender</key>
	<integer>-265</integer>
	<key>familyName</key>
	<string>League Gothic</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>openTypeHeadCreated</key>
	<string>2012/08/30 11:18:30</string>
	<key>openTypeHeadFlags</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>3</integer>
	<key>openTypeHheaAscender</key>
	<integer>935</integer>
	<key>openTypeHheaCaretOffset</key>
	<integer>0</integer>
	<key>openTypeHheaCaretSlopeRise</key>
	<integer>1</integer>
	<key>openTypeHheaCaretSlopeRun</key>
	<integer>0</integer>
	<key>openTypeHheaDescender</key>
	<integer>-265</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Tyler Finck</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://sursly.com</string>
	<key>openTypeNameManufacturer</key>
	<string>The League of Moveable Type</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://theleagueofmoveabletype.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>League Gothic</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Condensed Regular</string>
	<key>openTypeNameUniqueID</key>
	<string>1.001;UKWN;LeagueGothic-CondensedRegular</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.001;PS 001.001;hotconv 1.0.56;makeotf.lib2.0.21325</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>7</integer>
		<integer>32</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>328</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>75</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>350</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2Type</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>735</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-265</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>200</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>UKWN</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>3</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>935</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>265</integer>
	<key>postscriptBlueFuzz</key>
	<integer>0</integer>
	<key>postscriptBlueScale</key>
	<real>0.037</real>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-8</integer>
		<integer>0</integer>
		<integer>547</integer>
		<integer>555</integer>
		<integer>735</integer>
		<integer>743</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>232</integer>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>LeagueGothic-CondensedRegular</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>League Gothic Condensed Regular</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-196</integer>
		<integer>-188</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>82</integer>
		<integer>90</integer>
		<integer>111</integer>
		<integer>735</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>61</integer>
		<integer>75</integer>
		<integer>83</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-75</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>postscriptWeightName</key>
	<string>Regular</string>
	<key>styleMapFamilyName</key>
	<string>League Gothic Condensed</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Condensed Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>547</integer>
</dict>
</plist>
