<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>V</key>
		<integer>-21</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>T</key>
		<integer>-22</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>T</key>
		<integer>-22</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>T</key>
		<integer>-22</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>T</key>
		<integer>-22</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>T</key>
		<integer>-22</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>Y</key>
		<integer>-10</integer>
		<key>Yacute</key>
		<integer>-10</integer>
		<key>Ydieresis</key>
		<integer>-10</integer>
	</dict>
	<key>CR</key>
	<dict>
		<key>T</key>
		<integer>-22</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>CR</key>
		<integer>2</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>aacute</key>
		<integer>-10</integer>
		<key>acircumflex</key>
		<integer>-10</integer>
		<key>adieresis</key>
		<integer>-10</integer>
		<key>agrave</key>
		<integer>-10</integer>
		<key>aring</key>
		<integer>-10</integer>
		<key>atilde</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>ccedilla</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>eacute</key>
		<integer>-10</integer>
		<key>ecircumflex</key>
		<integer>-10</integer>
		<key>edieresis</key>
		<integer>-10</integer>
		<key>egrave</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>oacute</key>
		<integer>-10</integer>
		<key>ocircumflex</key>
		<integer>-10</integer>
		<key>odieresis</key>
		<integer>-10</integer>
		<key>oe</key>
		<integer>-10</integer>
		<key>ograve</key>
		<integer>-10</integer>
		<key>otilde</key>
		<integer>-10</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>c</key>
		<integer>-2</integer>
		<key>s</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-4</integer>
	</dict>
	<key>Iacute</key>
	<dict>
		<key>t</key>
		<integer>-4</integer>
	</dict>
	<key>Icircumflex</key>
	<dict>
		<key>c</key>
		<integer>-2</integer>
	</dict>
	<key>Igrave</key>
	<dict>
		<key>t</key>
		<integer>-4</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>Acircumflex</key>
		<integer>10</integer>
		<key>Adieresis</key>
		<integer>10</integer>
		<key>Agrave</key>
		<integer>10</integer>
		<key>Aring</key>
		<integer>10</integer>
		<key>Atilde</key>
		<integer>10</integer>
		<key>CR</key>
		<integer>10</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>Yacute</key>
		<integer>-20</integer>
		<key>Ydieresis</key>
		<integer>-20</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>T</key>
		<integer>-10</integer>
	</dict>
	<key>Oacute</key>
	<dict>
		<key>T</key>
		<integer>-10</integer>
	</dict>
	<key>Ocircumflex</key>
	<dict>
		<key>T</key>
		<integer>-10</integer>
	</dict>
	<key>Odieresis</key>
	<dict>
		<key>T</key>
		<integer>-10</integer>
	</dict>
	<key>Ograve</key>
	<dict>
		<key>T</key>
		<integer>-10</integer>
	</dict>
	<key>Otilde</key>
	<dict>
		<key>T</key>
		<integer>-10</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>c</key>
		<integer>-12</integer>
		<key>ccedilla</key>
		<integer>-12</integer>
		<key>e</key>
		<integer>-12</integer>
		<key>eacute</key>
		<integer>-12</integer>
		<key>ecircumflex</key>
		<integer>-12</integer>
		<key>edieresis</key>
		<integer>-12</integer>
		<key>egrave</key>
		<integer>-12</integer>
		<key>o</key>
		<integer>-12</integer>
		<key>oacute</key>
		<integer>-12</integer>
		<key>ocircumflex</key>
		<integer>-12</integer>
		<key>odieresis</key>
		<integer>-12</integer>
		<key>oe</key>
		<integer>-12</integer>
		<key>ograve</key>
		<integer>-12</integer>
		<key>otilde</key>
		<integer>-12</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>Acircumflex</key>
		<integer>-22</integer>
		<key>Adieresis</key>
		<integer>-22</integer>
		<key>Agrave</key>
		<integer>-22</integer>
		<key>Aring</key>
		<integer>-22</integer>
		<key>Atilde</key>
		<integer>-22</integer>
		<key>CR</key>
		<integer>-22</integer>
		<key>T</key>
		<integer>8</integer>
		<key>a</key>
		<integer>-32</integer>
		<key>aacute</key>
		<integer>-32</integer>
		<key>acircumflex</key>
		<integer>-32</integer>
		<key>adieresis</key>
		<integer>-32</integer>
		<key>agrave</key>
		<integer>-32</integer>
		<key>aring</key>
		<integer>-32</integer>
		<key>atilde</key>
		<integer>-32</integer>
		<key>c</key>
		<integer>-28</integer>
		<key>ccedilla</key>
		<integer>-28</integer>
		<key>e</key>
		<integer>-28</integer>
		<key>eacute</key>
		<integer>-28</integer>
		<key>ecircumflex</key>
		<integer>-28</integer>
		<key>edieresis</key>
		<integer>-28</integer>
		<key>egrave</key>
		<integer>-28</integer>
		<key>m</key>
		<integer>-26</integer>
		<key>n</key>
		<integer>-26</integer>
		<key>ntilde</key>
		<integer>-26</integer>
		<key>o</key>
		<integer>-28</integer>
		<key>oacute</key>
		<integer>-28</integer>
		<key>ocircumflex</key>
		<integer>-28</integer>
		<key>odieresis</key>
		<integer>-28</integer>
		<key>oe</key>
		<integer>-28</integer>
		<key>ograve</key>
		<integer>-28</integer>
		<key>otilde</key>
		<integer>-28</integer>
		<key>p</key>
		<integer>-26</integer>
		<key>r</key>
		<integer>-26</integer>
		<key>v</key>
		<integer>-5</integer>
		<key>w</key>
		<integer>-5</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-5</integer>
		<key>yacute</key>
		<integer>-5</integer>
		<key>ydieresis</key>
		<integer>-5</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>CR</key>
		<integer>-25</integer>
		<key>a</key>
		<integer>-42</integer>
		<key>c</key>
		<integer>-40</integer>
		<key>d</key>
		<integer>-25</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>I</key>
		<integer>-3</integer>
		<key>f</key>
		<integer>-5</integer>
		<key>m</key>
		<integer>-3</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>t</key>
		<integer>-7</integer>
		<key>v</key>
		<integer>-4</integer>
	</dict>
	<key>aacute</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-7</integer>
	</dict>
	<key>acircumflex</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-7</integer>
	</dict>
	<key>adieresis</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-7</integer>
	</dict>
	<key>agrave</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-7</integer>
	</dict>
	<key>aring</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-7</integer>
	</dict>
	<key>atilde</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-7</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>a</key>
		<integer>-6</integer>
		<key>s</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-6</integer>
	</dict>
	<key>bar</key>
	<dict>
		<key>t</key>
		<integer>-4</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>I</key>
		<integer>-2</integer>
		<key>Icircumflex</key>
		<integer>-2</integer>
		<key>a</key>
		<integer>-5</integer>
		<key>f</key>
		<integer>-5</integer>
		<key>m</key>
		<integer>-2</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>t</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-5</integer>
	</dict>
	<key>ccedilla</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>eacute</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>edieresis</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>egrave</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>two</key>
		<integer>-4</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>-2</integer>
		<key>aacute</key>
		<integer>-2</integer>
		<key>acircumflex</key>
		<integer>-2</integer>
		<key>adieresis</key>
		<integer>-2</integer>
		<key>agrave</key>
		<integer>-2</integer>
		<key>aring</key>
		<integer>-2</integer>
		<key>atilde</key>
		<integer>-2</integer>
		<key>f</key>
		<integer>-6</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>eight</key>
		<integer>8</integer>
		<key>nine</key>
		<integer>2</integer>
		<key>three</key>
		<integer>5</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>c</key>
		<integer>-5</integer>
		<key>ccedilla</key>
		<integer>-5</integer>
		<key>comma</key>
		<integer>10</integer>
		<key>e</key>
		<integer>-5</integer>
		<key>eacute</key>
		<integer>-5</integer>
		<key>ecircumflex</key>
		<integer>-5</integer>
		<key>edieresis</key>
		<integer>-5</integer>
		<key>egrave</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-5</integer>
		<key>oacute</key>
		<integer>-5</integer>
		<key>ocircumflex</key>
		<integer>-5</integer>
		<key>odieresis</key>
		<integer>-5</integer>
		<key>oe</key>
		<integer>-5</integer>
		<key>ograve</key>
		<integer>-5</integer>
		<key>otilde</key>
		<integer>-5</integer>
		<key>quotesinglbase</key>
		<integer>10</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>scaron</key>
		<integer>-4</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>t</key>
		<integer>-6</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>seven</key>
		<integer>-20</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>t</key>
		<integer>-4</integer>
	</dict>
	<key>iacute</key>
	<dict>
		<key>t</key>
		<integer>-4</integer>
	</dict>
	<key>igrave</key>
	<dict>
		<key>t</key>
		<integer>-4</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>c</key>
		<integer>-5</integer>
		<key>ccedilla</key>
		<integer>-5</integer>
		<key>e</key>
		<integer>-5</integer>
		<key>eacute</key>
		<integer>-5</integer>
		<key>ecircumflex</key>
		<integer>-5</integer>
		<key>edieresis</key>
		<integer>-5</integer>
		<key>egrave</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-5</integer>
		<key>oacute</key>
		<integer>-5</integer>
		<key>ocircumflex</key>
		<integer>-5</integer>
		<key>odieresis</key>
		<integer>-5</integer>
		<key>oe</key>
		<integer>-5</integer>
		<key>ograve</key>
		<integer>-5</integer>
		<key>otilde</key>
		<integer>-5</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>t</key>
		<integer>-4</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>t</key>
		<integer>-6</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>t</key>
		<integer>-6</integer>
	</dict>
	<key>ntilde</key>
	<dict>
		<key>t</key>
		<integer>-6</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>oacute</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>ocircumflex</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>odieresis</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>oe</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>ograve</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>otilde</key>
	<dict>
		<key>f</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>t</key>
		<integer>-6</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-8</integer>
		<key>aacute</key>
		<integer>-8</integer>
		<key>acircumflex</key>
		<integer>-8</integer>
		<key>adieresis</key>
		<integer>-8</integer>
		<key>agrave</key>
		<integer>-8</integer>
		<key>aring</key>
		<integer>-8</integer>
		<key>atilde</key>
		<integer>-8</integer>
		<key>c</key>
		<integer>-4</integer>
		<key>ccedilla</key>
		<integer>-4</integer>
		<key>e</key>
		<integer>-4</integer>
		<key>eacute</key>
		<integer>-4</integer>
		<key>ecircumflex</key>
		<integer>-4</integer>
		<key>edieresis</key>
		<integer>-4</integer>
		<key>egrave</key>
		<integer>-4</integer>
		<key>o</key>
		<integer>-4</integer>
		<key>oacute</key>
		<integer>-4</integer>
		<key>ocircumflex</key>
		<integer>-4</integer>
		<key>odieresis</key>
		<integer>-4</integer>
		<key>oe</key>
		<integer>-4</integer>
		<key>ograve</key>
		<integer>-4</integer>
		<key>otilde</key>
		<integer>-4</integer>
		<key>s</key>
		<integer>-5</integer>
		<key>scaron</key>
		<integer>-5</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>t</key>
		<integer>-9</integer>
	</dict>
	<key>scaron</key>
	<dict>
		<key>t</key>
		<integer>-9</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>four</key>
		<integer>-12</integer>
		<key>one</key>
		<integer>5</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<integer>-2</integer>
		<key>aacute</key>
		<integer>-2</integer>
		<key>acircumflex</key>
		<integer>-2</integer>
		<key>adieresis</key>
		<integer>-2</integer>
		<key>agrave</key>
		<integer>-2</integer>
		<key>aring</key>
		<integer>-2</integer>
		<key>atilde</key>
		<integer>-2</integer>
		<key>t</key>
		<integer>-6</integer>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<key>thorn</key>
	<dict>
		<key>t</key>
		<integer>-6</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>seven</key>
		<integer>-2</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>c</key>
		<integer>-4</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>t</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-5</integer>
	</dict>
	<key>uacute</key>
	<dict>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>ucircumflex</key>
	<dict>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>udieresis</key>
	<dict>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>ugrave</key>
	<dict>
		<key>t</key>
		<integer>-5</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-7</integer>
		<key>c</key>
		<integer>-3</integer>
		<key>uni0093</key>
		<integer>12</integer>
	</dict>
</dict>
</plist>
