<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_E</key>
	<array>
		<string>E'</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V'</string>
		<string>W</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b'</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c'</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>otilde</string>
	</array>
	<key>@MMK_L_icircumflex</key>
	<array>
		<string>Icircumflex'</string>
		<string>Idieresis</string>
		<string>icircumflex</string>
		<string>idieresis</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>I'</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>i</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>l</string>
		<string>bar</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u'</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S'</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V'</string>
		<string>W</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c'</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>otilde</string>
	</array>
	<key>@MMK_R_d</key>
	<array>
		<string>d'</string>
		<string>q</string>
	</array>
	<key>@MMK_R_icircumflex</key>
	<array>
		<string>Icircumflex'</string>
		<string>Idieresis</string>
		<string>icircumflex</string>
		<string>idieresis</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>I'</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>i</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>l</string>
		<string>bar</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>m'</string>
		<string>n</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotesingle'</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s'</string>
		<string>scaron</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
</dict>
</plist>
