<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_A_l</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>_A_r</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>_E_l</key>
	<array>
		<string>E'</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
	</array>
	<key>_S_r</key>
	<array>
		<string>S'</string>
		<string>Scaron</string>
	</array>
	<key>_V_r</key>
	<array>
		<string>V'</string>
		<string>W</string>
	</array>
	<key>_Y_l</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>_Y_r</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>_a_l</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>_a_r</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>_b_l</key>
	<array>
		<string>b'</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>_c_l</key>
	<array>
		<string>c'</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>oe</string>
	</array>
	<key>_c_r</key>
	<array>
		<string>c'</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>oe</string>
	</array>
	<key>_d_r</key>
	<array>
		<string>d'</string>
		<string>q</string>
	</array>
	<key>_icircumflex_l</key>
	<array>
		<string>Icircumflex'</string>
		<string>Idieresis</string>
		<string>icircumflex</string>
		<string>idieresis</string>
	</array>
	<key>_icircumflex_r</key>
	<array>
		<string>Icircumflex'</string>
		<string>Idieresis</string>
		<string>icircumflex</string>
		<string>idieresis</string>
	</array>
	<key>_l_l</key>
	<array>
		<string>I'</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>i</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>l</string>
		<string>bar</string>
	</array>
	<key>_l_r</key>
	<array>
		<string>I'</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>i</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>l</string>
		<string>bar</string>
	</array>
	<key>_n_r</key>
	<array>
		<string>m'</string>
		<string>n</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
	</array>
	<key>_quotesingle_r</key>
	<array>
		<string>quotesingle'</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>uni0093</string>
		<string>uni0094</string>
		<string>uni201F</string>
	</array>
	<key>_s_r</key>
	<array>
		<string>s'</string>
		<string>scaron</string>
	</array>
	<key>_u_l</key>
	<array>
		<string>u'</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>_v_l</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>_v_r</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
</dict>
</plist>
